*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img2{
    height: 40px;
    // filter: drop-shadow(5px 10px 15px black);
}
.header-wrapper{
    position: sticky;
    top: 0;
    z-index: 1;
    header{
        background-color: rgba(209, 207, 207, 0.636);
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        .header-logo{
        color: white;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 22px;
        }
        .header-menus{
            .menu{
                margin-right: 15px;
                color: black;
                font-size: 20px;
                border-radius: 20px;
                text-decoration: none;
                background-color: white;
                padding: 5px 20px;
            }
            a:hover{
                box-shadow: 2px 2px 2px 2px black;
            }
        }
        .header-auth{
            a{
                text-decoration: none;
                background-color: gold;
                color: black;
                font-weight: 600;
                padding: 5px 20px ;
                border-radius: 15px;
                font-size: 20px;
            }
            a:hover{
                box-shadow: 2px 2px 2px 2px black;
            }
        }
    }
    
}

.page-not-found-wrapper{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}